<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">"
</head>
<body>
    <div class = "container">
        <div class ="row">
            <div class = "col-lg-4"></div>
            <div class = "col-lg-4">
                <h4> Register</h4>
                <form id="register_form" action="/actions/register" method="POST" >
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />   
                    <input placeholder="Full name" type="text" name="fullname" class="form-controller" style="margin-top:10xp"/>
                    <input placeholder="Email" type="email" name="email" class="form-controller" style="margin-top:10xp"/>
                    <input placeholder="Password" type="password" name="password" class="form-controller" style="margin-top:10xp"/>
                    <input type="submit" form="register_form" value="Register" class="btn btn-primary" style="margin-top:10xp"/>
                </form>
            </br></br>
            <h4> Login</h4>
            <form id="login_form" action="/actions/login" method="POST" >
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />   
                <input placeholder="Email" type="email" name="email" class="form-controller" style="margin-top:10xp"/>
                <input placeholder="Password" type="password" name="password" class="form-controller" style="margin-top:10xp"/>
                <input type="submit" form="login_form" value="login" class="btn btn-success" style="margin-top:10xp"/>
            </form>
            </div>
        </div>
    </div>
</body>
</html>